$orange          : hsl(26, 100%, 55%);
$paleorange      : hsl(25, 100%, 94%);
$Veryvarkblue    : hsl(220, 13%, 13%);
$Darkgrayishblue : hsl(219, 9%, 45%);
$Grayishblue     : hsl(220, 14%, 75%);
$Lightgrayishblue: hsl(223, 64%, 98%);
$white           : hsl(0, 0%, 100%);